name: Shadownaives-Release
run-name: ${{ github.actor }}
on:
  push:
    tags:
      - '*'

jobs:
  Shadownaives-Release:
    runs-on: windows-2019
    steps:
      - name: InnoSetup Install
        run: choco install innosetup
      
      - name: Check out repository code
        uses: actions/checkout@v3
        
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
        with:
          msbuild-architecture: x64

      - name: Build app for release
        run: msbuild shadownaives.sln /t:Clean,Build /p:platform="Any CPU" /p:Configuration=Release

      - name: Get version
        id: get_version
        shell: bash
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: Install Package for Windows
        run: D://Program Files (x86)//Inno Setup 6//ISCC.exe D://a//shadownaives-windows//shadownaives-windows//shadownaives//shadownaives.sln
       
      - name: Upload Release Asset 	
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: shadownaives/bin/*.zip
          tag: ${{ github.ref }}
          file_glob: true
          prerelease: true
